<div class="col-md-4">
    <div class="card course-card">
    <div class="card-body">
        <h4>{{{ name }}}</h4>
        <p>{{{ description }}}</p>
        <a href="{{link}}"><p class="more">{{#str}} more, theme_cyber_range {{/str}} <span class="icon-wrapper"><ekc-icon type="arrow-right-1-2"></ekc-icon></span></p></a>
    </div>
    </div>
</div>