<div class="container mb-3">
  <div class="search row d-flex justify-content-start align-items-center">
    <ekc-omni-search class="col-9"></ekc-omni-search>
    <div class="navbar col-3">
      {{! <ekc-icon type="gear"></ekc-icon>
      <ekc-icon type="profile"></ekc-icon>
      }}
      
      <ul class="nav navbar-nav ml-auto mr-3">
            <li class="d-none d-lg-block">
                {{{ output.search_box }}}
            </li>
            <!-- navbar_plugin_output -->
            <li class="nav-item">
                {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center">
                {{{ output.user_menu }}}
            </li>
        </ul>
    </div>
  </div>
</div>


