<div class="container mb-3">
  <div class="search">
    <ekc-omni-search class=""></ekc-omni-search>
    <div class="navbar">
      {{! <ekc-icon type="gear"></ekc-icon>
      <ekc-icon type="profile"></ekc-icon>
      }}
      
      <ul class="nav navbar-nav ml-auto mr-3">
            <li class="d-none d-lg-block">
                {{{ output.search_box }}}
            </li>
            <!-- navbar_plugin_output -->
            <li class="nav-item">
                {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center">
                {{#usermenu}}
                    {{> core/user_menu }}
                {{/usermenu}}
                {{{ output.edit_switch }}}
            </li>
        </ul>
    </div>
  </div>
</div>


