<div class="course-overview-container">



    <h2>Introduction to Course #1</h2>
    <div class="course-summary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
    </div>

    <div class="course-header-image">
        <div class="course-title">Course #1 Name</div>
    </div>

    <div>
        <!-- Explore Colum -->
        <div>
            <h3>EXPLORE BY:</h3>
            <ul>
                <li>
                    <p>One Line Item</p>
                    <p>Secondary Text</p>
                </li>
                <li>
                    <p>One Line Item</p>
                    <p>Secondary Text</p>
                </li>
                <li>
                    <p>One Line Item</p>
                    <p>Secondary Text</p>
                </li>
                <li>
                    <p>One Line Item</p>
                    <p>Secondary Text</p>
                </li>
                <li>
                    <p>One Line Item</p>
                    <p>Secondary Text</p>
                </li>
            </ul>
        </div>
        <!-- Rows of course content -->
        <div>
            <!-- Modules -->
            <div>
                <h3>Modules</h3>
                <!-- carousel -->
                <div>
                    <div>
                        <div>numbered icon</div>
                        <div>Module Title</div>
                        <div>Description of module</div>
                    </div>
                </div>
            </div>
            <!-- Labs -->

            <!-- Scenarios -->

            <!-- Exercises -->
        </div>
    </div>

</div>