<div class="course-overview-container">
    <h2>Introduction to Course #1</h2>
    <div class="course-summary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
    </div>

    <div class="course-header-image">
        <div class="course-title">Course #1 Name</div>
    </div>

    <div class="row">
        <!-- Explore Colum -->
        <div class="col">
            <h3>EXPLORE BY:</h3>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><ekc-icon type="magnifyingglass"></ekc-icon></span>
                </div>
                <input type="text" class="form-control" placeholder="Search here" aria-label="Search here">
            </div>

            <div class="list-container">
                <ul>
                    <li>
                        <p class="line-item-header"><span class="bullet">&#9679;</span>One Line Item</p>
                        <p class="line-item-secondary-text">Secondary Text</p>
                    </li>
                    <li>
                        <p>One Line Item</p>
                        <p>Secondary Text</p>
                    </li>
                    <li>
                        <p>One Line Item</p>
                        <p>Secondary Text</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Rows of course content -->
        <div class="col col-9">
            <!-- Modules -->
            <div>
                <h3>Modules</h3>
                <!-- carousel -->
                <div>
                    <div>
                        <div>numbered icon</div>
                        <div>Module Title</div>
                        <div>Description of module</div>
                    </div>
                </div>
            </div>
            <!-- Labs -->

            <!-- Scenarios -->

            <!-- Exercises -->
        </div>
    </div>

</div>