<div class="container">
  <h4>Courses</h4>
  <p class="subtext">Search our library to better assist you with your specific learning goals and objectives.</p>
  <div class="course-filters">
    <div class="row">
      <div class="col">
        <p class="subtext">Difficulty Level</p>
        <select class="form-select" aria-label="Difficulty Level Name">
          <option selected>Difficulty Level Name</option>
        </select>
      </div>
      <div class="col">
        <p class="subtext">Domain</p>
        <select class="form-select" aria-label="Domain Name">
          <option selected>Domain Name</option>
        </select>
      </div>
      <div class="col">
        <p class="subtext">Job Role</p>
        <select class="form-select" aria-label="Job Role Name">
          <option selected>Job Role Name</option>
        </select>
      </div>
    </div>
  </div>
  <div class="unlock"></div>
  <p class="subtext">Choose from over (x-number) of categories.</p>
  <div class="category-select">
    <div class="row">
      <div class="col-2">
        <button type="button" class="btn btn-primary"><span>01</span>Category 1</button>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary"><span>02</span>Category 2</button>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary"><span>03</span>Category 3</button>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary"><span>04</span>Category 4</button>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary"><span>05</span>Category 5</button>
      </div>
    </div>
  </div>
  <br />
  <div class="course-categories card">
    <div class="card-header">
      <h4>Category 1</h4>
    </div>
    <div class="card-body">
      <p class="subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <button type="btn" class="btn btn-success explore-button">Explore</button>
      <div class="row">
        <div class="col">
          <div class="card course-card">
            <div class="card-body">
              <h4>Course 1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="more">More <span class="icon-wrapper"><ekc-icon type="arrow-right-1-2"></ekc-icon></span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card course-card">
            <div class="card-body">
              <h4>Course 2</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="more">More <span class="icon-wrapper"><ekc-icon type="arrow-right-1-2"></ekc-icon></span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card course-card">
            <div class="card-body">
              <h4>Course 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="more">More <span class="icon-wrapper"><ekc-icon type="arrow-right-1-2"></ekc-icon></span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card course-card">
            <div class="card-body">
              <h4>Course 4</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="more">More <span class="icon-wrapper"><ekc-icon type="arrow-right-1-2"></ekc-icon></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
