.course-filters {
  width: 50%;
}

.unlock {
  background-image: url(https://s3-alpha-sig.figma.com/img/2c8f/14db/012a4b26be391bcd4f2bd16c07a22ad7?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YsF6gGqWiVlO~dklCcIBdKg5tXxASZE-vpBMa13B6I5zpcJfvPgxFxnUhE3aIT6kXR-lSv9btJs~0AZttBom-meiBmeNB154FZz~3u4OMC9ck1FmBNWOlWqHbWrG9HAPGLJUSq-0Xn6dRs7P9oiV~CtvFdxtYkeDfzPMlkRklVJwE9gDpUl0VZvAp1M0qyXmtSN95Sv4~91sY1uNIYMzuJ62QaET2p0-Xw7eCQ36w8PNRv6JC56aZ6iuWzC9oajl2-H~yxYKr5d2wSDdKmkd3ao86UWK49lQmOI8k86vTeeCOG~5zQ0v76IEsiDKWsR3ImHvR~gBc5t-frw0c28oOQ__);
  width: 1076px;
  height: 240px;
  border-radius: 20px;
  background-position: center;
  background-size: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-select {
  width: 50%;
}

.course-categories {
  width: 1076px;
}

.explore-button {
  margin-bottom: 20px;
}