<div>
  <h4>Courses</h4>
  <p>Search our library to better assist you with your specific learning goals and objectives.</p>
  <div class="course-filters">
    <div class="row">
      <div class="col">
        <p>Difficulty Level</p>
        <select class="form-select" aria-label="Difficulty Level Name">
          <option selected>Difficulty Level Name</option>
        </select>
      </div>
      <div class="col">
        <p>Domain</p>
        <select class="form-select" aria-label="Domain Name">
          <option selected>Domain Name</option>
        </select>
      </div>
      <div class="col">
        <p>Job Role</p>
        <select class="form-select" aria-label="Job Role Name">
          <option selected>Job Role Name</option>
        </select>
      </div>
    </div>
  </div>
</div>
