
{{> theme_cyber_range/partials/head }}

<body {{{ bodyattributes }}}>
{{> theme_cyber_range/navbar }}
{{> core/local/toast/wrapper}}
<div class="height-100 bg-light mt-3">
  <div class="wrapper">
    {{> theme_cyber_range/partials/search }}
   
    {{{ output.standard_top_of_body_html }}}


    <div id="page" class="container d-print-block">
       
            {{#secondarymoremenu}}
                <div class="secondary-navigation">
                    {{> core/moremenu}}
                </div>
            {{/secondarymoremenu}}
        <div id="page-content" class="row pb-3 d-print-block">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ regionmainsettingsmenu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="col-8 has-blocks mb-3"{{/hasblocks}} aria-label="{{#str}}content{{/str}}">

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{#headercontent}}
                        {{> core/activity_header }}
                    {{/headercontent}}
                    {{#overflow}}
                        {{> core/url_select}}
                    {{/overflow}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class=" col-4 d-print-none blocks-right" aria-label="{{#str}}blocks{{/str}}">
                    {{{ addblockbutton }}}
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
</div>
</div>

{{> theme_cyber_range/partials/footer }}
</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
