{{> theme_cyber_range/partials/head }}

<body id="mycourses">
{{> theme_cyber_range/navbar }}
{{> core/local/toast/wrapper}}

<div class="height-100 bg-light mt-3">
  <div class="wrapper">
    {{> theme_cyber_range/partials/search }}

    <div class="container mb-3">
    <ekc-mycourses></ekc-mycourses>

    </div>
  </div>
</div>
{{> theme_cyber_range/partials/footer }}
</body>
</html>