{{!
    @overrides course/templates/category_actionbar.mustache
}}


<div class="course-filters" id="action_bar">
    <div class="row">
      <div class="col">
        <p class="subtext">Difficulty Level</p>
        <select class="form-select" aria-label="Difficulty Level Name">
          <option selected>Difficulty Level Name</option>
        </select>
      </div>
      <div class="col">
        <p class="subtext">Domain</p>
        {{#categoryselect}}
            <div class="navitem">
                {{> core/url_select }}
            </div>
        {{/categoryselect}}
      </div>
      <div class="col">
        <p class="subtext">Job Role</p>
        <select class="form-select" aria-label="Job Role Name">
          <option selected>Job Role Name</option>
        </select>
      </div>
      <div class="col">
        {{#additionaloptions}}
            <p class="subtext">&nbsp;</p>
            <div class="ml-auto d-flex">
                <div class="navitem dropdown">
                    <button aria-label="{{#str}}moreactions{{/str}}" class="btn btn-secondary dropdown-toggle" id="dropdown-actions" data-toggle="dropdown" aria-haspopup="true" aria-controls="moreactionsmenu">
                        {{#str}}moremenu{{/str}}
                    </button>

                    <div id="moreactionsmenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-actions" role="menu">
                        {{#options}}
                            <a role="menuitem" class="dropdown-item" {{#attributes}}{{name}}="{{value}}" {{/attributes}} href="{{url}}" tabindex="-1">{{string}}</a>
                        {{/options}}
                    </div>
                </div>
            </div>
        {{/additionaloptions}}
    </div>
  </div>