/**
 * This file is for overriding the default styles of the Boost theme.
 */

#region-main {
  background-color: transparent;
  border: 0;
  padding: 0;
}

h5.card-title {
  font-family: Metropolis, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

#page {
  margin-top: 1rem !important;
}

.blocks-right {
  padding-right: 0;
}

#block-region-content {
  padding: 0 5px 0 0;
}
