<div class="container">
  <div class="course">
    <div class="card course-card">
      <div class="row">
        <div class="col-4">
          <div class="image-div"></div>
          <p class="subtext">
            Difficulty Level
            <span class="icon-wrapper star green-star"><ekc-icon type="star"></ekc-icon></span>
            <span class="icon-wrapper star green-star"><ekc-icon type="star"></ekc-icon></span>
            <span class="icon-wrapper star green-star"><ekc-icon type="star"></ekc-icon></span>
            <span class="icon-wrapper star"><ekc-icon type="star"></ekc-icon></span>
            <span class="icon-wrapper star"><ekc-icon type="star"></ekc-icon></span>
          </p>
        </div>
        <div class="col-8">
          <div class="card-body">
            <h4>Scenario Name</h4>
            <p class="subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button type="btn" class="btn btn-success launch-button">Launch Scenario</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="card doc-card">
          <div class="card-body">
            <h4>Supplemental Documentation</h4>
          </div>
        </div>
        <div class="card prereq-card">
          <div class="card-body">
            <h4>Prerequisites</h4>
            <div class="card item-card">
              <div class="row">
                <div class="col-md-1">
                  <div class="icon-wrapper bookmark">
                    <ekc-icon type="bookmark"></ekc-icon>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <p>Course (XXX)</p>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="arrow-wrapper">
                    <ekc-icon type="arrow-right-1-2"></ekc-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="card item-card">
              <div class="row">
                <div class="col-md-1">
                  <div class="icon-wrapper bookmark">
                    <ekc-icon type="bookmark"></ekc-icon>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <p>Course (XXX)</p>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="arrow-wrapper">
                    <ekc-icon type="arrow-right-1-2"></ekc-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="card item-card">
              <div class="row">
                <div class="col-md-1">
                  <div class="icon-wrapper bookmark">
                    <ekc-icon type="bookmark"></ekc-icon>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <p>Course (XXX)</p>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="arrow-wrapper">
                    <ekc-icon type="arrow-right-1-2"></ekc-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card objective-card">
          <div class="card-body">
            <h4>Learning Objectives</h4>
            <p class="subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>